*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section{
    background: #007bff !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section h1{
    margin: 50px auto 120px !important;
    text-align: center;
    color: #fff;
}
.main{
    width: 100%;
    min-height: 400px ;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.service{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}
.service-logo{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #fff;
    border: 18px solid #007bff;

}
.service-logo img{
    width: 50px;
    margin-top: 20px;
    transition: transform 1s;
    /* border-radius: 50px; */
}
.service h4{
    height: 35px ;
    width: 80%;
    background: #fff;
    margin: 50px auto;
    position: relative;
}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff,#007bff);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,#007bff, #fff);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
 .shadowOne{
    height: 350px;
    width: 80%;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}

.shadowTwo{
    height: 200px;
    width: 64%;
    background-color: #fff;
    border-radius: 10px;
    bottom: 0;
    position: absolute;
    left: 18%;
    z-index: -2;
}
.main:hover .service{
    transform: translateY(-20px);
}
.main:hover .shadowOne{
    transform: translateY(-5px);
}
.main:hover img{
    transform: rotate(360deg);
}
.col-md-4{
    margin-bottom: 30px;
}